<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-brand">Quiz App</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/quiz">Quiz</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Welcome to the Online Quiz</h1>
        <p>Test your knowledge by taking our fun and interactive quiz.</p>
        <a href="/quiz" class="button">Start Quiz</a>
    </div>

</body>
</html>
